{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
We have verity of Collections
{% endblock %}
{% block title %}
search
{% endblock %}
{% block body %}
<div>
    <p class="text-center search_text">You have searched for : <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for prod in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
            <a href="{{prod.get_url}}"><img class="card-image-top img-fluid my_image" alt="{{prod.name}}" src="{{prod.image.url}}" style="max-height: 200px;"></a>
                <div class="card-body" style="max-height: 150px; overflow: hidden;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{prod.name}}
            </h4>
            <p>{{prod.price}}</p>
        </div>
            </div>
            </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center search_text"> 0 result found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}